{% for type, messages in app.session.flashbag.all() %}
    <div class="bm_messages">
        {% for message in messages %}
            <div class="bm_messages_{{ type }}" style="padding: 10px;text-align: center;">
                <p class="bm_message bm_{{ type }}" style="margin: 0px">{{ message|raw }}</p>
            </div>
        {% endfor %}
    </div>
{% endfor %}