<section class="section_detail_product">
    <section class="detail_product">
        {% embed 'components/_base_detail_product_card.html.twig' 
            with {'product': product } 
            only
        %}
            {# Surcharge d'autres éléments/propriétés #}
            {% block surchargeOne %}
                {{ dump(product) }}

                <p class=''>Date de création : {{ product.createdat | date('d/m/Y H:i') }}</p>
            {% endblock surchargeOne %}

            {# Surcharge d'autres éléments/propriétés #}
            {% block surchargeThree %}{% endblock surchargeThree %}
        {% endembed %}
    </section>
</section>