<section class="section_one_product">
    <section class="one_product">
        {% embed 'components/_base_one_product_card.html.twig' 
            with {'product': product } 
            only
        %}
            {# Surcharge d'autres éléments/propriétés  ci besoin #}
            {% block surchargeOne %}{% endblock surchargeOne %}

            {# Surcharge d'autres éléments/propriétés  ci besoin #}
            {% block surchargeTwo %}
                Ce produit est le meilleur du monde
            {% endblock surchargeTwo %}
        {% endembed %}
    </section>
</section>