{% extends 'general/base.html.twig' %}

{% block title %}Catégorie {{ category.name }} {% endblock %}

{% block body %}
<div class="container">
    <h1>Catégorie {{ category.name }} </h1>

    {% include 'backend/category/components/_detail_category_card.html.twig' with {'category': category } %}
</div>
{% endblock %}