{% extends "general/base.html.twig" %}

{% block title 'Modifier une produit' %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <div class="container">

        <h1>Modifier un produit</h1>

        <div class="container_form">
            {% include 'backend/product/components/_form.html.twig' with {'formProduct': formProduct } %}
        </div>
    </div>
{% endblock body %}