<section class="section_detail_product">
    <section class="detail_product">
        {% embed 'components/_base_detail_product_card.html.twig' 
            with {'product': product } 
            only
        %}
            {# Surcharge d'autres éléments/propriétés  ci besoin #}
            {% block surchargeOne %}
                <p>Prix : {{ product.price}} €</p>
                <p>{{ product.description}}</p>
                <p>Catégorie : {{ product.category.name}}</p>
            {% endblock surchargeOne %}

            {# Surcharge d'autres éléments/propriétés  ci besoin #}
            {% block surchargeTwo %}
                <div>
                    <p>Ce produit est le meilleur du monde</p>
                    <p>Ce produit est le meilleur du monde</p>
                    <p>Ce produit est le meilleur du monde</p>
                    <p>Ce produit est le meilleur du monde</p>
                    <p>Ce produit est le meilleur du monde</p>
                    <p>Ce produit est le meilleur du monde</p>
                    <p>Ce produit est le meilleur du monde</p>
                    <p>Ce produit est le meilleur du monde</p>
                    <p>Ce produit est le meilleur du monde</p>
                    <p>Ce produit est le meilleur du monde</p>
                    <p>Ce produit est le meilleur du monde</p>
                    <p>Ce produit est le meilleur du monde</p>
                    <p>Ce produit est le meilleur du monde</p>
                    <p>Ce produit est le meilleur du monde</p>
                    <p>Ce produit est le meilleur du monde</p>
                    <p>Ce produit est le meilleur du monde</p>
                    <p>Ce produit est le meilleur du monde</p>
                    <p>Ce produit est le meilleur du monde</p>
                    <p>Ce produit est le meilleur du monde</p>
                    <p>Ce produit est le meilleur du monde</p>
                </div>
            {% endblock surchargeTwo %}
        {% endembed %}
    </section>
</section>