{% extends 'general/base.html.twig' %}

{% block title %}{{ user.firstName }}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ user.firstName }} - {{ user.lastName }}</h1>

    {% include 'backend/user/components/_detail_user_card.html.twig' with {'user': user } %}
</div>
{% endblock %}