{% extends "general/base.html.twig" %}

{% block title 'Modifier un utilisateur' %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier un utilisateur</h1>

        <div class="container_form">
            {% embed 'backend/user/components/_form.html.twig'
                with { formUser: formUser } 
                only
            %}
                {# Surcharge du bouton de soumission #}
                {% block formButton %}
                    <button type="submit" class="btn btn_success">
                        Modifier cet utilisateur
                    </button>
                {% endblock formButton %}
            {% endembed %}
        </div>
    </div>
{% endblock body %}