{% extends 'general/base.html.twig' %}

{% block title %}Produit {{ product.title }} {% endblock %}

{% block body %}
<div class="container">
    <h1>{{ product.title }} </h1>
    
    {% include 'backend/pages/product/components/_detail_product_card.html.twig' with {'product': product } %}
</div>
{% endblock %}