monolog:
    channels:
        - deprecation # Deprecations are logged in the dedicated "deprecation" channel when it exists
        - exception.error # sous-canaux (ex: exception.error, exception.critical, etc.) pour un tri propre
        - exception.critical # sous-canaux (ex: exception.error, exception.critical, etc.) pour un tri propre
        - exception.alert # sous-canaux (ex: exception.error, exception.critical, etc.) pour un tri propre
        - exception.emergency # sous-canaux (ex: exception.error, exception.critical, etc.) pour un tri propre

when@dev:
    monolog:
        handlers:
            main:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug
                channels: ["!event"]
            # uncomment to get logging in your browser
            # you may have to allow bigger header sizes in your Web server configuration
            #firephp:
            #    type: firephp
            #    level: info
            #chromephp:
            #    type: chromephp
            #    level: info
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine", "!console"]

             # Intercepte les erreurs de type ERROR : erreurs "normales" (404, 403, 400...)
            error_logs:
                type: rotating_file
                path: "%kernel.logs_dir%/exception/error/error.log"
                level: error
                max_files: 30
                channels: ["exception.error"] # créer des sous-canaux (ex: exception.error, exception.critical, etc.) pour un tri propre
                bubble: false # empêcher un handler de niveau inférieur d’attraper un message de niveau supérieur.

            # Intercepte les erreurs de type CRITICAL : erreurs serveur 500+ (500, 502, 503...)
            critical_logs:
                type: rotating_file
                path: "%kernel.logs_dir%/exception/critical/critical.log"
                level: critical
                max_files: 30
                channels: ["exception.critical"]
                bubble: false # empêcher un handler de niveau inférieur d’attraper un message de niveau supérieur.

            # Intercepte les erreurs de type ALERT : erreurs importantes (BDD, sécurité, API)
            alert_logs:
                type: rotating_file
                path: "%kernel.logs_dir%/exception/alert/alert.log"
                level: alert
                max_files: 30
                channels: ["exception.alert"]
                bubble: false # empêcher un handler de niveau inférieur d’attraper un message de niveau supérieur.

            # Intercepte les erreurs de type EMERGENCY : crashs fatals (TypeError, ParseError, Error)
            emergency_logs:
                type: rotating_file
                path: "%kernel.logs_dir%/exception/emergency/emergency.log"
                level: emergency
                max_files: 30
                channels: ["exception.emergency"]  
                bubble: false # empêcher un handler de niveau inférieur d’attraper un message de niveau supérieur.


when@test:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ["!event"]
            nested:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug

when@prod:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                buffer_size: 50 # How many messages should be saved? Prevent memory leaks
            nested:
                type: stream
                path: php://stderr
                level: debug
                formatter: monolog.formatter.json
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine"]
            deprecation:
                type: stream
                channels: [deprecation]
                path: php://stderr
                formatter: monolog.formatter.json
