@import url('./variables.css');

@import url('./screens/general_desktop.css');
@import url('./screens/general_tablet.css');
@import url('./screens/general_mobile.css');

/* ====== GLOBAL ====== */

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

html{
    font-size: 62.5%;
    height: 100%; /* Pour footer en bas de page */
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
}

body{
    background-color: var(--white);
    font-size: 1.6rem; 
    width: 100%;
    color: var(--black);
}

img, video, table{
    width: 100%;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: var(--black);
}

table{
    width: 100%;
}

/* ====== Add Flash ====== */

.bm_messages_success {
    background-color: var(--add-flash-success);
    color: var(--white);
}

.bm_messages_error {
    background-color: var(--add-flash-error);
    color: var(--white);
}

.bm_messages_warning {
    background-color: var(--add-flash-warning);
    color: var(--white);
}

.bm_messages_notice {
    background-color: var(--add-flash-notice);
    color: var(--white);
}

/* ====== Button ====== */

.container .add {
    margin: 2rem 0;
}

.action span,
.container .add a {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid var(--black);
    border-radius: 10px;
}

.container .add a:hover {
    background-color: var(--grey);
    color: var(--white);
}

.action span.update {
    border: none;
    background-color: var(--yellow);
}

.action span.delete {
    border: none;
    background-color: var(--red-delete);
}

.action span a,
.action span form button {
    color: var(--white);
}

.action span form button {
    background-color: transparent;
    border: none;
    margin: initial;
    font-size: 1.6rem;
}

/* ====== List ====== */
.container_list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* ====== Table ====== */

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
.table tr:nth-child(even){
    background-color: #f2f2f2;
}
  
.table tr:hover {
    background-color: #ddd;
}
  
.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: var(--white);
}