{% extends "general/base.html.twig" %}

{% block title 'Modifier un produit' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/css/frontend/product/components/form/form.css" rel="stylesheet" />
    <link href="/css/frontend/product/update/index.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier un produit</h1>

        <div class="container_form">
            {% embed 'frontend/product/components/_form.html.twig'
                with { formProduct: formProduct } 
                only
            %}
                {# Surcharge du bouton de soumission #}
                {% block formButton %}
                    <button type="submit" class="button btn_update">
                        Modifier le produit
                    </button>
                {% endblock formButton %}
            {% endembed %}
        </div>
    </div>
{% endblock body %}